
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section class="cover imagebg height-80 text-center" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="background-image-holder background--top"> <img alt="background" src="img/cowork-1.jpg"> </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-9 col-md-7">
                            <h1> Build stylish, lean sites with Stack </h1>
                            <p class="lead"> Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. </p>
                            <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
						View The Demos
					</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="imageblock switchable height-100">
                <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                    <div class="background-image-holder"> <img alt="image" src="img/inner-7.jpg"> </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-5 col-sm-7">
                            <h1>Streamline your workflow with Stack</h1>
                            <p class="lead"> Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. </p>
                            <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
						View The Demos
					</span> </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center unpad--bottom switchable cta cta-3 imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-7">
                            <div class="switchable__text">
                                <h2>Streamline your workflow with Stack</h2>
                                <p class="lead"> Create the smart, stylish site your business deserves. </p>
                                <a class="btn btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                            Purchase Stack Now
                        </span> <span class="label">$17 USD</span> </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5"> <img alt="Image" class="block" src="img/avatar-large-1.png"> </div>
                    </div>
                </div>
            </section>
            <section class="bg--primary unpad cta cta-2 text-center">
                <a href="#purchase-template">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Stand up for change.</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <div class="cta">
                                <h2>Make your site stand out</h2>
                                <a class="btn btn--primary type--uppercase" href="#purchase-template"> <span class="btn__text">
                            Purchase Stack Now
                        </span> <span class="label">$17 USD</span> </a>
                                <p class="type--fine-print">or check out <a href="index.html">more demos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
                <div class="container">
                    <div class="row">
                        <div class="cta cta--horizontal text-center-xs">
                            <div class="col-sm-4">
                                <h4>Let's get you started</h4>
                            </div>
                            <div class="col-sm-5">
                                <p class="lead"> Start building beautiful pages in your browser </p>
                            </div>
                            <div class="col-sm-3 text-right text-center-xs">
                                <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">
                            Try Builder
                        </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="unpad elaborate-form-1">
                <div class="row row--gapless">
                    <div class="col-sm-6 height-50 bg--primary">
                        <div class="pos-vertical-center clearfix">
                            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> <span class="h1">Join the Campaign.</span>
                                <p class="lead"> Join our campaign to make our country a farer, more just place for all citizens. </p>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12"> <input type="email" name="email" placeholder="Email Address"> </div>
                                        <div class="col-sm-7 col-xs-6"> <input type="text" name="zip" placeholder="ZIP code"> </div>
                                        <div class="col-sm-5 col-xs-6"> <button type="submit" class="btn btn--primary-1">Next</button> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 height-50 bg--primary-1">
                        <div class="pos-vertical-center clearfix">
                            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"> <span class="h1">Then donate.</span>
                                <p class="lead"> Our grass-roots campaign relies on the contributions of passionate patriots like you. </p>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="input-radio input-radio--innerspan"> <span>$5</span> <input type="radio" name="donate" value="5"> </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="input-radio input-radio--innerspan"> <span>$15</span> <input type="radio" name="donate" value="15"> </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="input-radio input-radio--innerspan"> <span>$25</span> <input type="radio" name="donate" value="25"> </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <div class="input-radio input-radio--innerspan"> <span>$100</span> <input type="radio" name="donate" value="100"> </div>
                                        </div>
                                        <div class="col-sm-5 col-xs-12"> <button type="submit" class="btn btn--primary">Act Now</button> </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>